{{define "header"}}
    <!doctype html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <title>📰 news</title>
    </head>
    <body>
    <div class="container">
        <h1 class="display-2" style="display: inline">news</h1>
        <a class="text-decoration-none lead" href="/search">🔎 пошуршать</a>
{{end}}


{{define "footer"}}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
</html>

{{end}}


{{define "articles"}}
{{template "header"}}
    {{range .}}
        <section>
            <small class="text-muted">{{.Link}}</small>
            <h2><a href="{{.Link}}">{{.Title}}</a></h2>
            <blockquote class="blockquote">
                <p>{{.Description}}</p>
            </blockquote>
        </section>
    {{end}}
{{template "footer"}}
{{end}}


{{define "search"}}
{{template "header"}}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="button" id="button-addon1" onclick="document.location.href='/search?query=Турция'">
                🔎 Пошуршать
            </button>
        </div>
        <input type="text" class="form-control" placeholder="" aria-label="Пошуршать" aria-describedby="button-addon1">
    </div>
    {{range .}}
        <section>
            <small class="text-muted">{{.Link}}</small>
            <h2><a href="{{.Link}}">{{.Title}}</a></h2>
            <blockquote class="blockquote">
                <p>{{.Description}}</p>
            </blockquote>
        </section>
    {{end}}
{{template "footer"}}
{{end}}

